{% extends "base.html" %}

{% block app_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<div id = "container">
    <canvas id = "canvas" height="720" width="1024"></canvas>
</div>
<script>
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    context.textAlign = 'center';
    var data = {
        datasets: [
            {
                label: "Temperature",
                borderColor: 'red',
                data: [
                    {% for temp in values %}
                        {
                            x:{{temp.datetime}},
                            y:{{temp.value}}
                        },
                    {% endfor %}
                ],
                pointRadius: 0,
                borderWidth: 1,
                fill: false
            }
        ]
    };
    new Chart(canvas, {
        type: 'line',
        data: data,
        title:{
            display:true,
            text:'Chart.js Line Chart'
        },
        options: {
            responsive : false,
            elements: {
                line: {
                    tension: 0,
                }
            },
            scales: {
                xAxes: [{
                    ticks: {
                      min: data[0],
                      stepSize: (data[-1] - data[0]) / 30,
                      max: data[-1]
                    },
                    type: 'linear',
                    position: 'bottom',
                    scaleLabel: {
                      display: true,
    //                  labelString: 'X axis label'
                    }
                }],
                yAxes: [{
                    ticks: {
                      min: -100,
      //                stepSize: 0.1,
                      max: 100
                    },
                    scaleLabel: {
                        display: false,
    //                  labelString: 'Y axis label'
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
